#IDEs e Editores
.vscode/

#Python
#Virtual environments
.venv/
venv/
#Byte code cache
__pycache__/
*.py[cod]
#Pastas
python/think_python/book

#Java
#Dependencias
*.jar
#Aplication servers
java/servers/
#web Aplication (JSP)
java/jsp/WEB-INF
java/jsp/META-INF
#Pastas
java/jsp/materials



#Sistema
.DS_Store
*.tmp
*.log

#Outros
gitguide.md






